PORT=3180
PM2_NAME=content-hub
REACT_APP_BASE_PATH=

REACT_APP_NAME=content-hub
REACT_APP_SUBTITLE=
REACT_APP_SITE_URL=
REACT_APP_COPYRIGHT=© 2026 gcc³.com

# Links should be in the format of "Name=URL", separated by ';'.
# For example: "GitHub=https://github.com/gcc3;X=https://x.com/username"
REACT_APP_LINKS=GitHub-hub=https://github.com/gcc3/content-hub

# Enable search
REACT_APP_USE_SEARCH=true

# Enable realtime update
REACT_APP_USE_REALTIME=false

# Initial content, refer README/Content String
REACT_APP_DEFAULT_CONTENT=[categories]
