PORT=3180
REACT_APP_NAME=gcc³
REACT_APP_COPYRIGHT=© 2026 gcc3.com

# Links should be in the format of "Name=URL", separated by ';'.
# For example: "GitHub=https://github.com/gcc3;X=https://x.com/318yang"
REACT_APP_LINKS=

# Features
REACT_APP_USE_SEARCH=true

# Default load (category or categories)
REACT_APP_DEFAULT_LOAD=category
