PORT=3180
REACT_APP_BASE_PATH=/

REACT_APP_NAME=gcc³
REACT_APP_SUBTITLE=
REACT_APP_SITE_URL=
REACT_APP_COPYRIGHT=© 2026 gcc3.com

# Links should be in the format of "Name=URL", separated by ';'.
# For example: "GitHub=https://github.com/gcc3;X=https://x.com/username"
REACT_APP_LINKS=gcc³=https://github.com/gcc3;lhypds=https://github.com/gcc3

# Enable search
REACT_APP_USE_SEARCH=true

# Enable realtime update
REACT_APP_USE_REALTIME=false

# Initial content, refer README/Content String
REACT_APP_DEFAULT_CONTENT=[categories]
