node_modules/
.markdown/
public/main.js
public/main.js.LICENSE.txt
public/main.css

# Written by the build: one prerendered page per URL, plus what a crawler asks
# for before it reads any of them.
.prerender/
public/sitemap.xml
public/robots.txt
public/notes/*
.DS_Store
*.log
.idea
.vscode
.cache
.eslintcache
package-lock.json
.env
public/*.sh
public/test.*
public/notes
