.title {
  margin-top: 10px;
}

.linkReset {
  text-decoration: none;
}

.brandMain {
  display: inline;
}

.brandSup {
  display: inline;
  vertical-align: top;
}

.categoryRow {
  display: flex;
  justify-content: space-between;
  height: 38px;
}

.collapseBtn {
  width: 25px;
  cursor: pointer;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  border-right: 1px solid gray;
}

.tab {
  margin-left: 20px;
}

.subject {
  margin-top: 6px;
  text-decoration: underline !important;
  cursor: pointer;
}

.lab {
  display: inline;
  vertical-align: middle;
  border: 1px solid;
  border-color: gray;
  border-radius: 2px;
  font-size: 13px;
  padding: 1px;
}
